PCL启动器-用我进服.exe
hmcl-dev-3.5.9.259.exe
hmcl.json
PCL
.minecraft/assets
.minecraft/backups
.minecraft/CustomSkinLoader
.minecraft/downloads
.minecraft/kiwipacks
.minecraft/libraries
.minecraft/local
.minecraft/logs
.minecraft/mods
.minecraft/patchouli_books
.minecraft/saves
.minecraft/versions
.minecraft/xaero
.minecraft/XaeroWaypoints_BACKUP240807
.minecraft/command_history.txt
.minecraft/launcher_profiles.json
.minecraft/observable_announce
.minecraft/options.txt
.minecraft/patchouli_data.json
.minecraft/PCL.ini
.minecraft/usercache.json
.minecraft/usernamecache.json